.clases-an{
    @include grid1(repeat(4,1fr), auto, 5px,"clat clat clat clat" "cl1 cl2 cl3 cl4" "cl5 cl6 cl7 cl8", center);
            .clases-titulo{
            grid-area: clat;
        }
            .clase1{
            grid-area: cl1;
            margin: 5px;
            
        }
            .clase2{
            grid-area: cl2;
            margin: 5px;
           
        }
            .clase3{
            grid-area: cl3;
            margin: 5px;
            
        }    
        .clase4{
            grid-area: cl4;
            margin: 5px;
           
        }
        .clase5{
        grid-area: cl5;
        margin: 5px;
        
        }
        .clase6{
        grid-area: cl6;
        margin: 5px;
       
        }
        .clase7{
        grid-area: cl7;
        margin: 5px;
        
        }    
    .clase8{
        grid-area: cl8;
        margin: 5px;
        
        }
}

.alquiler-sala{
    @include grid1(repeat(4,1fr), auto, 10px,"s1 s2 s3 s4", center);
        .sala1{
        grid-area: s1;
        margin: 5px;
        
        }
        .sala2{
            grid-area: s2;
            margin: 5px;
                   
        }
        .sala3{
            grid-area: s3;
            margin: 5px;
                  
        }
        .sala4{
            grid-area: s4;
            margin: 5px;
                   
        }
}

[src$=".jpg"]{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:none;    
    &:hover{
        filter: grayscale(.8);        
        cursor: pointer;
    }
}

.galeria-an{
    @include grid1 (repeat(3,3fr), repeat(4,300px), 10px, "fot1 fot2 fot3" "fot4 fot2 fot5" "fot6  fot7 fot8" "fot6 fot9 fot10", center);
    margin: 5px;

    .fot1{
        grid-area: fot1;
    }
    .fot2{
        grid-area: fot2;
    }
    .fot3{
        grid-area: fot3;
    }
    .fot4{
        grid-area: fot4;
    }
    .fot5{
        grid-area: fot5;
    }
    .fot6{
        grid-area: fot6;
    }
    .fot7{
        grid-area: fot7;
    }
    .fot8{
        grid-area: fot8;
    }
    .fot9{
        grid-area: fot9;
    }
    .fot10{
        grid-area: fot10;
    }
}
    

   
