.clases-an{
    @include grid1(repeat(4,1fr), auto, 5px,"clat clat clat clat" "cl1 cl2 cl3 cl4" "cl5 cl6 cl7 cl8", center);
            .clases-titulo{
            grid-area: clat;
        }
            .clase1{
            grid-area: cl1;
            width: 250px;
        }
            .clase2{
            grid-area: cl2;
            width: 250px;
        }
            .clase3{
            grid-area: cl3;
            width: 250px;
        }    
        .clase4{
            grid-area: cl4;
            width: 250px;
        }
        .clase5{
        grid-area: cl5;
        width: 250px;
    }
        .clase6{
        grid-area: cl6;
        width: 250px;
    }
        .clase7{
        grid-area: cl7;
        width: 250px;
    }    
    .clase8{
        grid-area: cl8;
        width: 250px;
    }
}

.alquiler-sala{
    @include grid1(repeat(4,1fr), auto, 10px,"s1 s2 s3 s4", center);
        .sala1{
        grid-area: s1;
        width: 250px;
        }
        .sala2{
            grid-area: s2;
            width: 250px;        
        }
        .sala3{
            grid-area: s3;
            width: 250px;        
        }
        .sala4{
            grid-area: s4;
            width: 250px;       
        }
}
    
    

   
